.one {
  color: #be365a;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;
  display: flex;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -9px;
  background-color: #083a59;
  text-align: center;
  justify-content: space-between;
}
.two {
  width: 80px;
  height: 80px;
  display: flex;
  border-radius: 100px;
  border-color: black;
}
.cards {
  display: flex;
  gap: 30px;
  align-items: flex-end;
  justify-content: flex-end;
  list-style: armenian;
  text-decoration: wavy;
  color: rgb(133, 40, 8);
}
.parent {
  display: flex;
  gap: 50px;
  text-decoration: none;
}
.f1 {
  color: #7c1b06;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: x-large;
  font-weight: bolder;
}
.ls {
  color: #780423;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: large;
}
#y26 {
  color: rgb(68, 6, 68);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
}
.wild {
  text-align: center;
  list-style-position: inside;
  border: 30px;
  border: 3px solid black;
  margin-left: 400px;
  margin-right: 300px;
  margin-top: 5px;
  background-color: #c45514;
}
body {
  background-color: #731702;
}
.twos {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}
.shake {
  color: goldenrod;
  text-align: center;
  background-color: black;
  margin-bottom: -50px;
  margin-left: -10px;
  margin-right: -10px;
}
#f26 {
  color: rgb(53, 2, 53);
  text-align: center;
  font-size: large;
}
